// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
    cursor: pointer;
}
.font-weight-bold {
    font-weight: bold;
}

.floating-add-icon {
    position: fixed;
    bottom: 40px;
    right: 111px;
    padding: 11px 15px;
    background-color: darkgray;
    border-radius: 30px;
    border: solid 1px grey;
    cursor: pointer;

    i {
        font-size: 30px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.floating-add-icon:hover {
    background-color: gray;
    i {
        font-size: 35px;
        transition: 0.3s;
    }
}